body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: auto;
  overflow-y: scroll;
  position: relative;
  /* padding: 10px; */
}

.cursor-pointer{
  cursor: pointer;
}

.table-header-fix {
  position: relative !important;
  z-index: 0;
}

.table-container{
  padding: 0 15px;
}

.menu-container{
  position: sticky;
  top: 0;
  padding: 0 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* background-color: white; */
  z-index: 1;
}