
#loader {
    position: relative;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    /*transform:translateX(50%) translateY(50%);*/
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #2a3948;
    box-shadow: 0 0 0 0 #2a3948;
    animation: l2 1.5s infinite linear;
    position: relative;
}

    .loader:before,
    .loader:after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        box-shadow: 0 0 0 0 #2a3948;
        animation: inherit;
        animation-delay: -0.5s;
    }

    .loader:after {
        animation-delay: -1s;
    }

.app-btn {
    border: none;
    color:ghostwhite;
}

.app-btn:not(.app-btn-danger) {
    background: #0b0f2e;
    /* background: linear-gradient(180deg, rgb(43, 49, 114) 50%, rgba(1, 1, 26, 1) 100%); */
    /* box-shadow: 1px 1px 2px 3px #2a2d50; */
    border: 1px solid #4d4f61;
}

.app-btn-danger {
    background-color: #b63546;
}

.app-text-info{
    color:rgb(46, 224, 144);
}

@keyframes l2 {
    100% {
        box-shadow: 0 0 0 40px #0000
    }
}
